<html>
    <head>
        {% if title %}
        <title>{{ title }} - веб приветствие</title>
        {% else %}
        <title>веб приветствие</title>
        {% endif %}
    </head>
    <body>
        <div>
          <div>
            <br>
            <a href="{{ url_for('index') }}">Главная</a>&nbsp;&nbsp;
            <a href="{{ url_for('blank') }}">Blank</a>&nbsp;&nbsp;
            </div>
        </div>
        <hr>

        {% block content %}{% endblock %}
    </body>
</html>
