{% extends "base.html" %}

{% block content %}
    <h1>Приветствую, {{ user }}!</h1>
    <hr>
    <form action="/blank" method="post" target="_blank">
      <p>
        <label for="author_name">Имя автора:</label>
        <input type="text" id="author_name" name="author_name"><br><br>
      </p>
      <p>
        <input type="submit" value="Отправить">
      </p>
    </form>
    {% for post in posts %}
    <div><p>{{ post.author.username }} говорит: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}
