{% extends "base.html" %}

{% block content %}
    <h1>Приветствую, {{ user.username }}, введите Ваше имя.</h1>
    <hr>
    <form action="/hello" method="post" target="_blank">
      <p>
        <label for="user_name">Моё имя:</label>
        <input type="text" id="user_name" name="user_name"><br><br>
      </p>
      <p>
        <input type="submit" value="Отправить">
      </p>
    </form>
    <hr>
    {% for post in posts %}
    <div><p>{{ post.author.username }} говорит: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}
